{% if RESUME.projects %}
<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i><span lang="en">Projects</span><span lang="fr">Projets</span></h2>
    <div class="intro">
        <p>{{ PROJECT_INTRO }}</p>
    </div><!--//intro-->
    {% for project in PROJECTS %}
        <div class="item">
            <span class="project-title">{{ project['title'] }}</span> - <span class="project-tagline">{{ project['tagline'] }}</span>
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}